<section id="footer">
    <p class="footer__content">2024 <span>Khaled Fannas.</span> &copy Blog Project</p>
    <div class="social__icons">
        <a href="https://www.linkedin.com/in/khaled-abu-fannas-7b9992255/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/khalid-fannas" target="_blank"><i class="fa-brands fa-square-github"></i></a>
    </div>
    <a href="mailto:kha2000.khaled@gmail.com"><p class="email"><i class="fa-solid fa-envelope"></i> kha2000.khaled@gmail.com</p></a>
</section>

<script src="/script.js"></script>
</body>
</html>