<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles.css">
    <title>Blog Project</title>
</head>
<body>
 <div id="wrapper">
    <section id="header">
        <nav>
            <h1>Blog Site</h1>
            <i class="fa-solid fa-bars" id="openNav"></i>
            <ul id="navList">
                <i class="fa-solid fa-xmark" id="closeNav"></i> 
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/create">Create</a></li>
                <li><i class="fa-solid fa-moon" id="moon"></i></li>
            </ul>
        </nav>
    </section>


