<%- include("partials/header.ejs") %>

<section id="about">
    <div class="container">
        <h2 class="about__header">About</h2>
        <p class="about__content">Welcome to my blog site. I am Khaled Fannas JR, a full stack web developer. I created this project during my journey in "The Complete 2024 Web Development Bootcamp" course. I am ambitious to develop my skills in web development and work on more projects in the near future. I am dedicated to implementing my skills through this project.</p>
        <P class="about__content">
            I built this site to be responsive on all screens, with a primary focus on the back-end server side using NodeJS, Express, and EJS, which has been very helpful, especially with partials.
        </P>
        <P class="about__content">
            This site is designed to display user blogs and provides full control to users. This means users can Create, Edit, and Delete blogs.
        </P>
        <P class="about__content">
            For more information, you can contact me via email or through my social links provided below.
        </P>
    </div>
</section>
</div>
<%- include("partials/footer.ejs") %>